# Server Configuration
SERVER_PORT=9000

# Security Configuration
JWK_SET_URI=http://localhost:8091/realms/enerlytics/protocol/openid-connect/certs
ISSUER_URI=http://localhost:8091/realms/enerlytics
SECURITY_EXCLUDED_URLS=/actuator/**,/swagger-ui.html,/swagger-ui/**,/v3/api-docs/**,/swagger-resources/**,/docs/**,/fallback/**

# Microservices URLs
USER_SERVICE_URL=http://localhost:8080
DEVICE_SERVICE_URL=http://localhost:8081
INGESTION_SERVICE_URL=http://localhost:8082
INSIGHT_SERVICE_URL=http://localhost:8085
