services:
  database:
    container_name: postgres
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: SecurePassword123!
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - enerlytics

volumes:
  postgres-data:
    driver: local

networks:
  enerlytics:
    driver: bridge
