# Device Service Configuration
SERVER_PORT=8081

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=devices
DB_USERNAME=postgres
DB_PASSWORD=password

# OpenAPI Configuration
OPENAPI_SERVER_URL=http://localhost:8081
OPENAPI_SERVER_DESCRIPTION=Local environment

# App Configuration
INIT_DATA=false
