# Server configuration
SERVER_PORT=8080

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=users
DB_USERNAME=postgres
DB_PASSWORD=password

# Application features
INIT_DATA=false

# OpenAPI configuration
OPENAPI_SERVER_URL=http://localhost:8080
OPENAPI_SERVER_DESCRIPTION=Local environment
