# Server configuration
SERVER_PORT=8085

# Ollama AI configuration
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5-coder:0.5b

# Internal Service URLs
USAGE_SERVICE_URL=http://localhost:8083/api/v1/usages

# OpenAPI configuration
OPENAPI_SERVER_URL=http://localhost:8085
OPENAPI_SERVER_DESCRIPTION=Local environment
