# Server configuration
SERVER_PORT=8083

# Kafka configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9094

# InfluxDB configuration
INFLUX_URL=http://localhost:8072
INFLUX_TOKEN=my-token
INFLUX_ORG=enerlytics
INFLUX_BUCKET=usages

# External Services
USER_SERVICE_URL=http://localhost:8080/api/v1/users
DEVICE_SERVICE_URL=http://localhost:8081/api/v1/devices

